@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    background-color: #F0DDC6;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.header .title{
    color: #532b1e;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
}
.header .title img{
    padding-left: 50px;
    height: 120px;
    width: 120px;

}

.section .text{
    display: flex;
    padding-bottom: 36px;
    flex-direction: column;
    margin-left: 24px;
    width: 350px;
    color: #532b1e;
    gap: 12px
}
.section .text .title{
    font-weight: bold;
    font-size: 28px;
}
ul{
    display: flex;
    align-items: center;
    gap: 16px
}
.section{
    display: flex;
    justify-content: center;
    background-color: #F0DDC6;
}
.section img{
    width: 400px;
    height: 200px;
}
.figures{
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    color: #532b1e;
    /* justify-content: space-evenly; */
    background-color: #F0DDC6;
    align-items: center;
}

.figures .title{
    font-weight: bold;
    font-size: 28px;
}

.figure-container{
    display: flex;
    gap:16px;
    justify-content: space-around;
}
.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    padding-bottom: 24px;
}

.card-container .text{
    font-size: 15px;
}
#card1,#card2,#card3,#card4{
    border-radius: 25px;
    border: 3px solid #58372c;
    background-color: red;
    /*background: url(images/honey-jar.png);*/
    background-position: left top;
    background-repeat: repeat;
    
    width: 150px;
    height: 150px;
}
#card1{
    background: url(images/honey-jar.png);   
}
#card2{
    background: url(images/honey-tea.png);   
}
#card3{
    background: url(images/honey-jar2.png);   
}
#card4{
    background: url(images/bees.png);   
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    padding-top: 64px;
    margin-bottom: 64px;
}

.quote .title{
    color: #532b1e;
    font-weight: 100;
    font-size: 48px;
    margin-left: 64px;
}

.quote .text{
    flex-grow: 0;
    color: #532b1e;
    font-weight: bold;
    font-size: 16px;
    margin-left: 600px;
}
.cta{
    display: flex;
    justify-content: center;
    background-color: blue;
    padding-top: 15px;
    padding-bottom: 15px;
}

#cta-card{
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 700px;
    height: 100px;    
}
.footer{
    background-color: sienna;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

button {
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 32px;
    background-color: #DBAD35;
    color: #532b1e;
}  
a {
    color: #532b1e;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
  }