@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
body{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.header{
    background-color: #FCE9C9;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}
.header .title{
    color: #532b1e;
    font-weight: bold;
    font-size: 48px;
    display: flex;
    align-items: center;
}
.header .title img{
    padding-left: 50px;
    height: 120px;
    width: 120px;

}

.section .text{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    width: 350px;
    color: #532b1e;
    gap: 12px
}
.section .text .title{
    font-weight: bold;
    font-size: 28px;
}
ul{
    display: flex;
    align-items: center;
    gap: 16px
}
.section{
    display: flex;
    justify-content: center;
    background-color: #FCE9C9;
}
.section img{
    width: 400px;
    height: 200px;
}
.figures{
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    /* justify-content: space-evenly; */
    background-color: #FCE9C9;
    align-items: center;
}
.card-container{
    display: flex;
    gap:16px;
    justify-content: space-around;
}

#card1,#card2,#card3,#card4{
    border-radius: 25px;
    border: 2px solid #532b1e;
    background-color: red;
    /*background: url(images/honey-jar.png);*/
    background-position: left top;
    background-repeat: repeat;
    
    width: 150px;
    height: 150px;
}
#card1{
    border-radius: 25px;
    background-color: red;
    background: url(images/honey-jar.png);
    background-position: left top;
    background-repeat: repeat;
       
}


.quote{
    background-color: aquamarine;
}
.cta{
    background-color: blue;
}
.footer{
    background-color: sienna;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

button {
    border: none;
    border-radius: 8px;
    font-weight: bold;
    padding: 8px 32px;
    background-color: #DBAD35;
    color: #532b1e;
}  
a {
    color: #532b1e;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
  }